.card {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	border-radius: 0;
	height: 350px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    max-width: 300px;
    margin: 20px auto
}

.card .card-img-overlay:before {
    background-color: rgba(0, 0, 0, 0.1);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease-in;
	width: 100%;
}

.card .card-text {
	bottom: 0;
	color: white;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	transition: all .3s linear;
	width: 100%;
}

.card .card-title {
	top: 0;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 15px;
	position: absolute;
	left: 0;
	transition: all 0.3s ease-out;
    color: #fff;
}

.card:hover .card-img-overlay:before {
	background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .card-text {
	opacity: 1;
}

@media  screen and (max-width: 479px) {
	.card{
		height: 90vh;
	}
}
